ampq==2.3.2
billiard==3.5.0.4
celery==4.2.1
chardet==3.0.4
Django==2.1.2
djangorestframework==3.8.2
idna==2.7
kombu==4.2.1
marshmallow==2.15.6
pip==18.0
pytz==2018.5
requests==2.19.1
setuptools==39.0.1
SQLAlchemy==1.2.12
urllib==1.23
vine==1.1.4